/* Checkout - AFIP */
.wcafip-cuit-validation { margin-top: 5px; font-size: 13px; }
.wcafip-cuit-validation.valid { color: #46b450; }
.wcafip-cuit-validation.invalid { color: #dc3232; }
.wcafip-cuit-validation.loading { color: #666; }
.wcafip-razon-social-field,
.wcafip-condicion-iva-field { display: none; }
